<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.TripLog">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	
  <application android:label="TripLog.Android" 
               android:name="android.support.multidex.MultiDexApplication">
      <meta-data android:name="com.google.android.maps.v2.API_KEY"
                 android:value="AIzaSyAe_WGnml0W9qZQrS7wpc-wv1_fRBOOzAM" />
  </application>
</manifest>